// // import bootstrap
// @import '~bootstrap/dist/css/';

// // import font-awesome
// $fa-font-path: "~font-awesome/fonts";
// @import "~font-awesome/scss/font-awesome";

// $black:#000000;
// $brown:#290600;
// $brown1:#921000;
// $brown2:#570a00;
// $brown3:#570a00;
// $brown4:#921000;
// $white:#ffffff;
// $green:#00d857;
// $green1:#089e45;
// $red:#d8002a;
// $red1:#560b08;
// $orange:#f57921;
// $orange1:#843a08;
// $grey2:#a0a0a0;
// $grey1:#5d5d5d;
// $grey3:#7c7c7c;

$black: #000000;
$grey: #cccccc;
$white: #ffffff;
$blue: #1a395b;
$darkblue: #1a395b;
$lightblue: #52658f;
$darkwhite: #fbfaf2;
$yellow: #fcb117;
$red:#9B1E20;

@font-face {
  font-family: 'myfont';
  src: url('../style/Roboto-Regular.ttf') format('truetype');
}

$myfont: 'myfont', sans-serif;

body {
  font-family: $myfont !important;
  font-size: 1.4em !important;
  background: $darkwhite !important;
}

.navbar {
  background-color: $darkblue !important;
  border: none !important;
  border-bottom: 2px solid $yellow !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

table {
  background-color: $white !important;
  margin-bottom: 0px !important;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  padding: 10px 10px !important;
  text-align: center;
}

.table>thead>tr>th {
  font-size: 15px;
}

// .greylalbel {
//     color: $grey3;
// }

// .blacklabel1 {
//     color: $black;
// }

label {
  color: $black;
  font-size: 1em;
  font-weight: 500 !important;
  text-transform: capitalize;
}

.checkbox-inline, .radio-inline {
  color: #1a395b;
}

// .blacklabel2 {
//     color: $grey1;
// }

.pad-l-r-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.admin-left-drawer {
  padding-top: 30px;
  background-color: $lightblue;
  height: 100vh;
}

.admin-left-drawer ul {
  list-style: none;
  padding: 0px;
  li a{
    display: block;
    margin-bottom: 15px;
    padding: 10px 0px 10px 10px;
  }
  li a {
    color: $white;
  }
  li a:hover {
    text-decoration: none;
  }
  li a.active {
    background-color: $white;
    border-left: 4px solid $yellow;
  }
  li a.active {
    color: $blue;
    margin-left: -4px;
    text-decoration: none;
  }
  .glyphicon-play {
    float: right;
    margin-right: 8px;
    margin-top: 4px;
    font-size: 10px;
  }
}

.btn {
  line-height: 1 !important;
  padding: 8px 12px !important;
}

.searchbar .btn {
  padding: 10px 12px !important;
}

.navbar-header img {
  height: 50px;
  margin-left: -15px;
}

.navbar .navbar-text {
  color: $white !important;
  margin-right: 15px;
  font-size: 1.1em;
}
.nav-tabs {
  border: none !important;
  -webkit-box-shadow:0px 2px 1px -2px #cccccc;
  box-shadow: 0px 2px 1px -2px #cccccc;
  background: $white;
}

.nav {
  background-color: $white;
}

.app .nav-pills {
  position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 55px;
    box-shadow: 0 0 4px 0 #757575 !important;
}

.nav-pills > li {
  width: 14.15%;
  text-align: center;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {

  background-color:$white !important;
}

.nav-pills > li > a {
  border: none !important;
  border-radius: 0px !important;
  border-right: 1px solid #dfdfdf !important;
  padding: 0px !important;
  font-size: 1.1em;
  margin-top: 15px;
  color: $black !important;
}

.nav-pills > li:last-of-type > a {
  border-right: none !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: $blue !important;
  text-align: center;
  padding-bottom: 15px !important;
  background: linear-gradient(to left, $blue, $blue, $blue) bottom no-repeat;
  background-size: 100% 5px;
}

.nav > li > a:focus {
  outline: none !important;
}

.nav > li > a:focus,
.nav > li > a:hover {
  color: $blue !important;
  text-align: center;
  padding-bottom: 15px !important;
  background-color: $white !important;
  background: /* gradient can be an image */ linear-gradient(
      to left,
      $blue,
      $blue,
      $blue
    )
    bottom no-repeat;
  background-size: 100% 5px;
}

.btn {
  font-size: 1.1em;
}

.btn-primary {
  background-color: $lightblue !important;
  -webkit-box-shadow: 0px 4px 1px $lightblue;
  -moz-box-shadow: 0px 4px 1px $lightblue;
  box-shadow: 0px 4px 1px $lightblue;
  border: none !important;
  border-radius: 4px !important;
  width: 100% !important;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: $darkwhite !important;
  -webkit-box-shadow: 0px 4px 1px $darkwhite;
  -moz-box-shadow: 0px 4px 1px $darkwhite;
  box-shadow: 0px 4px 1px $darkwhite;
  border: 2px solid $lightblue !important;
  color: $lightblue !important;
  border-radius: 4px !important;
  width: 100% !important;
  text-transform: uppercase;
}

.tab-content {
  padding: 0px 15px;
}

.edit_btn {
  padding: 0px !important;
  border: none !important;
  margin: 0px !important;
  color: $yellow !important;
  margin-right: 10px !important;
  background-color: transparent!important;
}

.edit_btn:focus,
.edit_btn:active,
.edit_btn:hover,
.remove_btn:hover,
.remove_btn:focus,
.remove_btn:active {
  background: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.remove_btn {
  padding: 0px !important;
  border: none !important;
  margin: 0px !important;
  color: $red !important;
  background-color: transparent !important;
}

.bor-bro-bot {
  border-bottom: 2px solid $yellow;
}

.searchbar .form-control {
  padding: 8px 12px !important;
  height: fit-content !important;
}

.form-control {
  padding: 0px 12px !important;
  border: 1px solid $grey !important;
  color: $black !important;
  -webkit-box-shadow: 0px 0px 1px 1px #ccc !important;
  box-shadow: 0px 0px 1px 1px #ccc !important;
  background: $white;
  border-radius: 4px !important;
  font-size: 1.1em !important;
}

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $grey !important;
}
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: $grey !important;
}
.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: $grey !important;
}
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: $grey !important;
}

#accordion-example .panel {
  margin-top: 15px;
  box-shadow: 0px 0px 2px $grey !important;
  -webkit-box-shadow: 0px 2px 2px $grey !important;
  border: 1px solid $grey;
  border-radius: 8px;
}

#accordion-example .panel .panel-heading {
  background: transparent;
  background-color: transparent;
  padding: 0px;
}

#accordion-example .panel .panel-heading .panel-title a {
  padding: 15px;
  display: inline-block;
  width: 100%;
  font-size: 1.1em;
  color: $blue;
  text-decoration: none;
}

#accordion-example .panel .panel-heading .panel-title a .glyphicon {
  float: right;
}

.accordion__item {
  margin-top: 15px;
  box-shadow: 0px 0px 4px $grey !important;
  -webkit-box-shadow: 0px 0px 4px $grey !important;
}

.accordion__item .accordion__title h3 {
  margin: 0px !important;
}

#accordion-example.panel-group
  .panel-heading
  .panel-title
  a[aria-expanded='true'] {
  background: $blue;
  color: $white;
  width: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#accordion-example.panel-group
  .panel-heading
  .panel-title
  a[aria-expanded='false']
  .glyphicon-triangle-right {
  display: inline;
}

#accordion-example.panel-group
  .panel-heading
  .panel-title
  a[aria-expanded='false']
  .glyphicon-triangle-bottom {
  display: none;
}

#accordion-example.panel-group
  .panel-heading
  .panel-title
  a[aria-expanded='true']
  .glyphicon-triangle-right {
  display: none;
}

#accordion-example.panel-group
  .panel-heading
  .panel-title
  a[aria-expanded='true']
  .glyphicon-triangle-bottom {
  display: inline;
}

// table.cspd {
//   border: 1px solid $grey;
// }

// table.cspd tr th,
// table.cspd tr td {
//   width: 11.11%;
//   text-align: center;
//   border-right: 1px solid $grey;
//   font-size: 1.1em;
//   font-weight:500;
// }

// table.cspd tr td {
//   color: $black;
// }

// table.cspd tr th {
//   border-bottom: 1px solid $grey !important;
//   color: $black;
// }

input.redinput {
  background: $blue;
  color: $white !important;
}

.checkbox,
.radio {
  margin: 0px !important;
}

// .table > tbody > tr > td,
// .table > tbody > tr > th,
// .table > tfoot > tr > td,
// .table > tfoot > tr > th,
// .table > thead > tr > td,
// .table > thead > tr > th {
//   border-top: 0px !important;
// }

.modal-content {
  border-radius: 2px !important;
  .modal-footer {
    border-top: unset !important;
  }
  label {
    width: 100%;
    font-weight: 100;
  }
  .edit_btn {
    float: right;
  }
  .mar-l-15 {
    margin-left: 15px;
  }
  input[type='checkbox'],
  input[type='radio'] {
    -webkit-box-shadow: 1px 2px 4px 0px #ccc !important;
    box-shadow: 1px 2px 4px 0px #ccc !important;
  }
}

.btn_group_cust {
  width: 132px;
}

.btn-primary-small {
  width: 70px !important;
  margin-right: 10px !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  margin-top: 4px !important;
  padding: 6px 8px !important;
}


.modal-header  {
  background-color: #52658f;
  color: #fff;
    button {
    position: absolute !important;
    right: 0px !important;
    background: red !important;
    opacity: unset !important;
    top: 2px !important;
    font-weight: 100 !important;
    color: #fff !important;
    padding: 0px 4px 2px 5px !important;
    }
}


.modal-content .form-control {
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 1px #ccc !important;
  height: 40px;
  border-radius: 2px !important;
}
.page-header {
  border: none !important;
  margin-top: 0px !important;
  text-align: center;
  color: $darkblue;
}

// .btn-group {
//   width: 121px;
// }

// .dropdown .btn-group {
//   width: 100%;
//   .caret {
//     float: right;
//   }
// }

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-shadow: 1px 2px 4px 0px #ccc !important;
  box-shadow: 1px 2px 4px 0px #ccc !important;
}

h3.personalize_var {
  color: $blue;
  border-bottom: 2px solid $blue;
  width: fit-content;
  font-size: 22px;
}

form .glyphicon-info-sign {
  font-size: 14px;
  color: $grey;
  top: -8px;
}

hr {
  border-top: 1px solid $black !important;
}

.hom_off_prev {
  margin-top: 30px;
}

.preview {
  text-align: right;
  .control-label {
    color: $yellow;
    .glyphicon-eye-open {
      margin-right: 8px;
    }
  }
}

.form-group .dropdown {
  width: 100%;
  .dropdown-toggle {
    width: 100%;
    height: 34px;
    -webkit-box-shadow: 0px 0px 1px 1px #ccc !important;
    box-shadow: 0px 0px 1px 1px #ccc !important;
    .caret {
      float: right;
    }
  }
}

.mt28 {
  margin-top: 28px;
}

.text-center {
  text-align: center;
}

.w100 {
  width: 100%;
  display: block;
}

#manual_bulk_credit,.manual_debit_reversal {
  padding: 0px !important;
}

#manual_bulk_credit ul,#manual_debit_reversal ul {
  background-color: $darkwhite;
  li {
    width: 50%;
  }
  li a {
    margin-top: 0px !important;
    background: none !important;
    padding: 10px !important;
    color: $lightblue !important;
    text-align: center;
  }
  li.active > a, li.active > a:focus,li.active > a:hover {
    background: $lightblue !important;
    color:$white !important;
    text-align: center;
    border: 0px;
    border-radius: 0px;
  }
}

.acct_manage_hist_label {
  color: $blue;
  margin: 0px;
}

.mt-100 {
  margin-top: 100px !important;
}

.block_unbloc_top_btn , .unblock_acct_manage {
  margin-top: -1px !important;
  margin-right: 0px !important;
}

// #manual_bulk_credit-pane-2 td
// .btn-group {
//   width: 148px;
// }

// #manual_bulk_credit-pane-1 td
// .btn-group {
//   width: 148px;
// }

  .block_unbloc_top_btn
    {
      margin-right: 4px !important;
    }
  .unblock_acct_manage {
    margin-left: 4px !important;
    margin-right: 0px !important;
  }

.mt7 {
  margin-top: 7px;
}

.mt12 {
  margin-top: 12px;
}

.mr5 {
  margin-right: 5px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  color:#555 !important;
}

.small-menu{
  font-size: 13px;
}

.logout{
  display: block;
  margin-top: 2px;
  float: right;
  margin-left: 10px;
  color: #fff;

  &:hover, &:visited{
    color:#fff;
  }
}
.admin-left-drawer ul li a {
   cursor: pointer;
 }


.navbar-header img {
  height: 30px;
  margin-top: 10px;
  margin-left: 3px;
}

.mt30 {
  margin-top: 30px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  max-width:200px; word-wrap:break-word;
}

.scroll {
height: 100vh;
overflow: scroll;
padding-bottom: 150px;
padding-top: 30px;

}

.fixed-container {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 107px;
}

.coms-search_btn .top-up , .top-up .coms-search_btn {
  width: 149px;
}

.coms-search_btn .coms-search_btn {
  margin-right: 0px !important;
}

.block_unblock_acct {
  .block_unbloc_top_btn {
    margin-right: 0px !important;
  }
  .unblock_acct_manage{
    margin-left: 0px !important;
  }
}

#manual_debit_reversal-pane-1 table .btn-primary , #manual_debit_reversal-pane-2 table .btn-primary {
  margin-right: 0px !important;
}

.preview_push_sms .modal-dialog{
  background-image:url(../images/preview.png);
  width: 300px;
  height: 600px;
  background-position: 100%;
  background-size: 100% 100%;
}

.preview_push_sms .modal-dialog .modal-content {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  outline: none;
}
.preview_push_sms .cust_not {
background: #fff;
margin-left: 30px;
margin-right: 30px;
position: relative;
top: 60px;
padding: 5px;
img {
  height: 20px;
  float: left;
}
.not_text {
  margin-left: 30px;
}
.not_title {
  font-size: 14px
}
.not-sub_title {
  font-size: 12px;
}
}

.preview_inapp .modal-dialog{
  background-image:url(../images/inapp.png);
  width: 300px;
  height: 600px;
  background-position: 100%;
  background-size: 100% 100%;
}

.preview_inapp .modal-dialog .modal-content {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  outline: none;
}
.preview_inapp .cust_not {
background: #fff;
margin-left: 30px;
margin-right: 30px;
position: relative;
top: 300px;
padding: 5px;
box-shadow: 0 4px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
img {
  height: 20px;
  float: left;
}
.not_text {
  margin-left: 30px;
}
.not_title {
  font-size: 14px
}
.not-sub_title {
  font-size: 12px;
}
}

.coms_search td button {
  width: 100% !important;
}

.mt26 {
  margin-top: 26px;
}

#tabs-with-dropdown-pane-fifth .glyphicon-open {
  margin-right: 15px;
}

#tabs-with-dropdown-pane-fifth 

  .well {
  -webkit-box-shadow: 0px 0px 1px 1px #ccc !important;
  box-shadow: 0px 0px 1px 1px #ccc !important;
  background: $white;
  padding: 0px;
  margin-bottom: 0px;
  .bluebg {
  border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  background: $lightblue;
  margin-left: 0px;
  margin-right: 0px;
  color: $white;
  .well-title {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .control-label {
  font-size: 10px;
  color: $white;
  margin-top: 4px;
  }
  .form-control{
    height: 30px;
  } 
  }
  .img_text {
    height: 323px;
    .empty_img_txt{
      font-size: 20px;
      color: $lightblue;
      text-align: center;
      padding-top:38%;
    }
  }
  .link {
    color: $lightblue;
  }
  .well-footer{
    padding: 5px 0px;
    box-shadow: 0px -1px 4px #cccccc;
    margin-left: 0px;
    margin-right: 0px;
  }
}

// .btn-group, .btn-group-vertical {
//   display: -webkit-inline-box !important;
// }

.right {
  text-align: right;
}

.homebanner_p_image img{
  top: 199px;
  position: absolute;
  height: 260px;
  width: 222px;
  left: 33px;
}

.preview_inapp_start_screen .modal-dialog{
  background-image:url(../images/blank_screen.png) !important;
}


.preview_inapp_start_screen .modal-body {
  background-size: cover;
  background-position: center;
  height: 455px;
  top: 75px;
  width: 252px;
  left: 22px;
}

.homebanner_preview_top_txt {
  margin-top: 50%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 2px 2px #555;
}

.homebanner_preview_top_subtxt {
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 2px #555;
  margin: 10px;
  font-size: 16px;
}

.offers-bg .modal-dialog{
  background-image:url(../images/Offer-bg.png) !important;
}

.offers-bg img{
  top: 210px;
  position: absolute;
  height: 100px;
  width: 225px;
  left: 37px;
}

.offers-bg iframe {
  height: 397px;
  width: 253px;
  left: 22px;
  top: 133px;
  position: absolute;
  background: $white;
  padding: 10px;
}

.bluetxt {
  font-size: 18px;
  color: #52658f !important;
}

.nobanner {
  margin: 100px;
  text-align: center;
  font-size: 20px;
  color: #b70000;
}

.reporting .well   {
    .well-title {
      font-size: 13px !important;
    }
    .img_text {
    height: auto !important;
    }
    .empty_img_txt{
      padding: 30px 0px !important;
  }
}

// .reporting_groupbtn .btn-group {
//   width: auto !important;
//   .dropdown-toggle {
//     box-shadow: none !important;
//   }
//   .caret {
//   margin-top: 6px;
//   margin-left: 6px;
//   }
// }
.reporting table th, .reporting table td {
  width: 50%;
  text-align: center;
}

.reporting table {
  margin-bottom: 0px;
}

.downloadxl_btn {
  background: transparent;
  border: none;
  img {
    height: 60px;
    margin-top: 4px;
  }
}

.input-group {
  background: #fff;
  border: 1px solid #52658f;
  border-radius: 5px;
  input[type=file] {
  margin: 10px;
  line-height: 0;
  }
  .btn-primary {
    box-shadow: none ;
  }
}

.react-datepicker-wrapper, .react-datepicker__input-container, .react-datepicker-ignore-onclickoutside {
  width: 100%;
}


/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*Spinner ends here*/
.react-datepicker-popper {
  width: 208px;
  font-size: 14px !important;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  margin: 4px;
  font-size: 13px !important;
}