.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fbfaf2!important;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.content {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0 0 4px #828282;
  box-shadow: 0 0 4px #828282;
  border-radius: 10px;

  /*whatever width you want*/
}

.alert-class {
  margin-top: 30px
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.btn-primary {
  background-color: #52658f!important;
    -webkit-box-shadow: 0 4px 1px #52658f;
    box-shadow: 0 4px 1px #52658f;
}

.logologin {
  height: 150px;
  display: block;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: -15px;
}

.form-signin-heading {
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px; 
}